

.content {
	display: flex;
}

#product_detail {
	width: 60vw;
}

#title {
	font-size: 5vw;
}

#cost {	
	margin-right: 0px;
	margin-left: auto;
	padding: 20px;
	font-size: 3vw;
	background-color: #e8e8e8;
	width: 20vw;
	height: inherit;
}

#cost>button {
	padding: 8px;
	border-style: none;
	border-radius: 20px;
	width: 100%;
	color: inherit;
	cursor: pointer;
	background: #FCFF67;
}