.menu1 {
    display: inline-block;
}

.menu1 img {
    display: block;
    width: 30vw;
}

.menu2 {
    display: inline-block;
}

.menu2 img {
    display: block;
    width: 30vw;
}

.menu3 {
    display: inline-block;
}

.menu3 img {
    display: block;
    width: 30vw;
}

.menu4 {
    display: inline-block;
}

.menu4 img {
    display: block;
    width: 30vw;
}
