.home{
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
    max-width: 70px;
    min-width: 20px; 
    /* アイコン */
}

form {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* 全体の余白 */
}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    /* アカウントを作成 */
}

div{
    border: 1px solid #000;
    background: #FFF;
    width: 500px;
    height: 1030px;
    flex-shrink: 0;
    margin:auto;
    /* ボーダー */ 
}

.insert_button{
    border-radius: 24px;
    background: #FCFF67;
    width: 186px;
    height: 39px;
    flex-shrink: 0;
    margin-top: 38px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
    /* 登録ボタン */ 
}

.text{
    border-radius: 12px;
    border: 1px solid #000;
    background: #FFF;
    width: 350px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 25px;
    font-size: large;
    /* テキストボックス */
}

.postcode {
    margin-left: 20px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #FFF;
    width: 105px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 25px;
    font-size: large;
    /* 郵便番号 */
}

.char{
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* Pタグ */
}