.button{
    width: 6vw;
    height: 3vw;
    flex-shrink: 0;
    border-radius: 2vw;
    border: 1px solid #000;
    background: #F33;
    text-align: center;
}
.shohin{
    width: 650px;
    height: 90px;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 30px
}
.img1{
    border: 1px solid #000;
    margin-right: 90px;
    height: 65px;
    width: 65px;
    flex-shrink: 0;
    margin-left: 15px
}
.itiran{
    display: inline-block;
    vertical-align: super;
}