.button{
    width: 90px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #000;
    background: #F33;
    text-align: center;
}
.shohin{
    width: 700px;
    height: 90px;
    border: 1px solid #000;
    background: #FFF;
    
    margin-top: 30px
}
.img1{
    border: 1px solid #000;
    margin-right: 100px;
    height: 70px;
    width: 70px;
    flex-shrink: 0;
    margin-left: 25px
}
.itiran{
    display: inline-block;
    vertical-align: super;
}