.itiran {
	display: inline-block;
	text-align: left;
}

td#btn {
    text-align: right;
}

.button{
    width: 60px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2vw;
    border: 1px solid #000;
    background: #F33;
    text-align: center;
	z-index: 100;
}

table {
	display: inline-block;
}

.shohin{
    width: 650px;
    height: 90px;
    border: 1px solid #000;
    background: #FFF;
    
	z-index: 0;
}
.img1{
    border: 1px solid #000;
    margin-right: 90px;
    height: 65px;
    width: 65px;
    flex-shrink: 0;
    margin-left: 15px;
	display: inline;
}