.itiran {
	display: inline-block;
	text-align: left;
}

td#btn {
    text-align: right;
}

.delete{
    width: 6vw;
    height: 2.3vw;
    flex-shrink: 0;
    border-radius: 2vw;
    border: 1px solid #000;
    background: #F33;
    text-align: center;
	z-index: 100;
    margin-left:4vw;
    margin-bottom: 0.5vw;
    display: block;
    /*
    z-index: -1;
    pointer-events: auto;
    */

}

table {
	display: inline-block;
}

.shohin{
    width: 80vw;
    height: 9vw;
    border: 1px solid #000;
    background: #FFF;
	z-index: 0;
    margin-top: 30px;
    /*
    z-index: -1;
    pointer-events: none;
    */
}
.img1{
    border: 1px solid #000;
    margin-right: 90px;
    height: 6vw;
    width: 6vw;
    flex-shrink: 0;
    margin-left: 15px;
	display: inline;
}

.text{
    font-size: 1.5vw;
}

.delin {
    font-size: 1.5vw;
    margin: auto;
}