body {
	margin: 0px;
}

.content {
	margin: 50px auto auto 50px;
	display: flex;
}

.detail {
	max-width: 384px;
	max-height: 384px;
	border: 1px solid gray;
	display: inline;
	vertical-align: top;
	margin-right: 10px;
}

.name {
	font-weight: bold;
	font-size: 40px;
}

.price {
	font-weight: bold;
	font-size: 40px;
}

#product_detail {
	width: 60vw;
}

#title {
	font-size: 5vw;
}

#price {	
	margin-right: 50px;
	margin-left: auto;
	padding: 20px;
	font-size: 3vw;
	background-color: #e8e8e8;
	width: 20vw;
	height: 80vh;
}

#cost>form>button {
	padding: 8px;
	border-style: none;
	border-radius: 20px;
	width: 100%;
	color: inherit;
	cursor: pointer;
	background: #FCFF67;
}