.text{
    width: 600px;
    height: 25px;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 57px;
    margin-left: 20px;
}
.yohaku{
    margin-right: 100px;
    font-size: 20px;
}
.button2{
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #000;
    background: #FDFFB2;
    margin-top: 28px;
}
.filebutton{
    width: 600px;
	border: 1px solid #000;
    background: #FFF;
    margin-top: 53px;
}
.file{
    margin-top: 57px;
    margin-left: 20px;
    font-size: 20px;
}