body{
    text-align: center;
}
.shohin{
    width: 650px;
    height: 90px;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 30px
}
.img1{
    border: 1px solid #000;
    margin-right: 90px;
    height: 65px;
    width: 65px;
    flex-shrink: 0;
    margin-left: 15px
}
.itiran{
    display: inline-block;
    vertical-align: super;
}
.size{
    font-size: 2vw;
}
.yes{
    display: inline-block;
    color: #000;
    font-family: Inter;
    font-size: 3.5vw;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration: none;
    margin-top: 9vw;
    /* はい */
}
.no{
    display: inline-block;
    color: #000;
    font-family: Inter;
    font-size: 3.5vw;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
    text-align: right;
    text-decoration: none;
    margin-left: 24vw;
    margin-top: 9vw;
    /* いいえ */
}
/* マウスオーバーで表示を変更 */
.yes:hover {
    text-decoration: underline;
}
.no:hover {
    text-decoration: underline;
}