.button{
    width: 180px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #000;
    background: #CACACA;
    margin-top: 28px;
    text-align: center;
}
.shohin{
    width: 700px;
    height: 90px;
    border: 1px solid #000;
    background: #FFF;
    margin-left: 300px;
    padding-top: 10px;
}
.img1{
    border: 1px solid #000;
    margin-right: 100px;
    height: 70px;
    width: 70px;
    flex-shrink: 0;
    margin-left: 25px
}
.itiran{
    display: inline-block;
    vertical-align: super;
}