.text{
    width: 400px;
    height: 25px;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 30px;
}
.yohaku{
    margin-right: 100px;
}
.button{
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #000;
    background: #FDFFB2;
}