body {
	margin: 0px;
}

img {
	height: 64px;
}

form {
	margin: 0px;
	padding: 0px 8px;
	background-color: gray;
	display: flex;
	justify-content: space-between;
	align-items: center
}

#m1, #m2, #m3>a {
	padding: 0 8px;
}

#m2 {
	display: inline-flex;
}
#m2>input {
	width: 40vw;
}