body {
	margin: 0px;
}

.img_btn {
	height: 58px;
}

.img_btn2 {
	height: 52px;
}

.img_btn3 {
	height: 64px;
}

.headerbar {
	margin: 0px;
	padding: 8px 16px;
	background-color: gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.m1, .m2, .m3>a {
	padding: 0 8px;
}

.m2 {
	display: inline-flex;
}
.m2>input {
	width: 40vw;
}

.m3 {
	display: flex;
}

.edit_profile {
	margin: 0px;
	padding: 4px 52px 0px 0px;

	background-color: #606060;
	color: white;

	text-align: right;
	-webkit-text-stroke: black 0.25px;

	font-size: x-large;
}

.edit_profile:hover {
	color: cyan;
}

.edit_profile:active {
	color: blue;
}