body {
	margin: 0px;
}

.headerbar {
	margin: 0px;
	padding: 8px 16px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.m1{
	padding: 0 8px;
}

.edit_profile {
	margin: 0px;
	padding: 4px 52px 0px 0px;

	background-color: #606060;
	text-align: right;
}