.home{
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
    max-width: 70px;
    min-width: 20px; 
    /* アイコン */
}

h1 {
    width: 80vw;
    height: 12vw;
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vw;
    margin-bottom: 5vw;
}

.button {
    border-radius: 24px;
    background: #CACACA;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 38px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    /* ボタン */ 
}
