.kanryou {
	color: #000;
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 400px;
	margin: 60px auto;
	height: 40px;
}

form {
	width: fit-content;
    margin: auto;
}

button {
	border-radius: 50px;
	background: #CACACA;
	width: 300px;
	height: 39px;
}

input {
	width: 30px;
}