.home{
    margin-left: auto; 
    margin-right: auto;
    display: block;
    max-width: 70px;
    min-width: 20px; 
    /* 画像 */
}

h1{
    color: #000;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 11vw;
}

.yes{
    color: #000;
    font-family: Inter;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration: none;
    margin-left: 24vw;
}

.no{
    color: #000;
    font-family: Inter;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-align: right;
    text-decoration: none;
    margin-left: 26vw;
}

.yes:hover {
    text-decoration: underline;
}
.no:hover {
    text-decoration: underline;
}