body {
    margin: 0;
}

.master {
    display: flex;
	justify-content: space-between;
}

#product_detail {
	padding: 30px;
	vertical-align: top; /* 上端に揃えるためのスタイル追加 */
}

#content {
    display: block;
}

#cost {
	padding: 15vh 5vw 30vh 5vw;
	margin: 0px;
    background-color: #e8e8e8;
    width: 20vw;
    display: inline-block;
    vertical-align: top;
}

#cost>form>button {
    padding: 8px;
    border-style: none;
    border-radius: 20px;
    width: 100%;
    color: inherit;
    cursor: pointer;
    background: #FCFF67;
}

#product_detail_detail>a>img {
	width: 24vw;
	height: auto;
	border: 1px solid #111;
}

.detail {
    margin-right: 0px;
    margin-left: auto;
    padding: 20px;
    width: 25vw;
    height: auto;
    display: inline-block;
}

.title {
    font-size: 3.5vw;
}

.yen {
	font-size: 4vw;
}

.number {
    width: 4vw;
    height: 1.5vw;
    flex-shrink: 0;
}