table {
	border-spacing: 10vw 40px;
	margin: 0px auto;
}

td {
    background: #FFF;
	
	text-align: center;
}

td > a > img {
    max-width: 198px;
    max-height: 198px;
	border: 1px solid #000;
}

.result {
	margin: 30px 60px 0px 60px;
	font-size: 25px;
}

.notFound {
	margin: 30px 60px 0px 60px;
	font-size: 40px;
	text-align: center;
}