body {
	margin: 0px;
}

.detail {
	margin: 20px;
	display: inline-flex;
	align-items: flex-start;
}

.pic {
	max-width: 350px;
	max-height: 350px;
	border: 1px solid gray;
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 30px;
}

table {
	margin-left: 20px;
}

td {
	padding: 20px 80px 0 0;
	font-size: 25px;
}

img{
	max-width:300px;
	max-height:400px;
}